<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Operating Center</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" (click)="xemThongBao()" class="dropdown-toggle" data-toggle="dropdown">
               <i class="fa fa-bell-o">Notification</i>
               <span class="label label-warning">{{hoaDon.length}}</span>
               </a>
          <ul class="dropdown-menu">

            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu" *ngFor="let hd of hoaDon">
                <li>
                  <a href="#">
                      <i class="glyphicon glyphicon-th text-aqua"></i><b>Bàn: {{hd.soBan}} - {{hd.tongSoTien| currency:'VND':true}} - {{hd.thoiGianDai}}</b>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <img src="styles/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
               <span class="hidden-xs">khangnhd</span>
               </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="styles/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
              <!-- <p>
                Alexander Pierce - Web Developer
                <small>Member since Nov. 2012</small>
              </p> -->
              <div class="" style="margin-top:10px;">
                <a routerLink="/dang-nhap" class="btn btn-default btn-flat"></a>
              </div>
            </li>
            <!-- Menu Body -->

            <!-- Menu Footer-->
            <li class="user-footer">

            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
